.footer {
  background-color: rgb(47, 48, 58);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .logo {
  margin-bottom: 20px;
}

.contact-address {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--main-color-white);
  margin-bottom: 9px;
}

.contact-list-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 9px;
  color: rgba(255, 255, 255, 0.6);
}

.contact-list-link:hover,
.contact-list-link:focus,
.contact-address:hover,
.contact-address:focus {
  color: var(--accent-color);
}

.footer-social-link {
  width: 270px;
  margin-right: 30px;
}

.footer-social-link .logo {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--main-color-white);
}

.social-link-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);

  transition: background-color var(--animation);
}

.contact-social-item:not(:last-child) {
  margin-right: 10px;
}

.footer-address-contact {
  width: 270px;
  margin-right: 30px;
}

.contact-list-social-link {
  display: flex;
}

.social-link-svg {
  fill: var(--icon-background-color);
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.social-link-item:hover,
.social-link-item:focus {
  background-color: var(--accent-color);
}

.footer-input {
  width: 570px;
}

.footer-input-text {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: var(--main-color-white);
}

.footer-form-btn-svg {
  margin-left: 10px;
}

.footer-input-email {
  display: flex;
  margin-top: 20px;
}

.footer-input-form {
  background: transparent;
  display: flex;
  width: 358px;
  height: 50px;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--main-color-white);

  cursor: pointer;
}

.footer-input-form:focus {
  outline: none;
  border-color: var(--accent-color);
}

.footer-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 200px;
  margin-left: 12px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  padding: 8px 26px;
  cursor: pointer;

  color: var(--main-color-white);

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: var(--accent-color);
}
